@keyframes sticky {
    0% {
        opacity: 0;
        margin-top: -120px;
    }  
    50% {
        opacity: 0;
        margin-top: -60px;
    }  
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes reval {
    0% {
        opacity: 0;
        bottom: -20px;
    }  
    50% {
        opacity: .5;
        bottom: -10px;
    }  
    100% {
        opacity: 1;
        bottom: 0px;;
    }
}


@keyframes gbg {
    0% {
      opacity: .6;
      background-image: -moz-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
    }  
    20% {
      opacity: .7;
      background-image: -moz-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
    }  
    40% {
      opacity: .8;
      background-image: -moz-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
    }  
    60% {
      opacity: .9;
      background-image: -moz-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
    } 
    80% {
      opacity: 1;
      background-image: -moz-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
    } 
    100% {
      opacity: 1;
      background-image: -moz-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
    } 
}


@keyframes playVideo
{
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(150, 29, 134, .3);
                box-shadow: 0 0 0 0 rgba(150, 29, 134, .3);
    }
    40% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
                box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    80% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
                box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes fadewave
{
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(150, 29, 134, 1);
                box-shadow: 0 0 0 0 rgba(150, 29, 134, 1);
    }

    50% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
                box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes fadewave2
{
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 131, 104, .8);
                box-shadow: 0 0 0 0 rgba(0, 131, 104, .8);
    }

    50% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
                box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes dimond {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
@-webkit-keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes bounceUp {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounceUp {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes moveleftbounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveleftbounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moverightbounce {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes moverightbounce {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}


.rotateme {
  -webkit-animation-name: rotateme;
          animation-name: rotateme;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@keyframes guraguri {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes guraguri {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}


@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@-webkit-keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

/* ----------------------------------
  All Aniamtion Styles
 ------------------------------------ */
