/* ----------------------------------
	Contact Us Section Styles
 ------------------------------------ */
.contact-us-wrap {
	background-image: -moz-linear-gradient( -45deg, rgb(47,25,118) 0%, rgb(94,33,143) 100%);
	background-image: -webkit-linear-gradient( -45deg, rgb(47,25,118) 0%, rgb(94,33,143) 100%);
	background-image: -ms-linear-gradient( -45deg, rgb(47,25,118) 0%, rgb(94,33,143) 100%);

	&.pt-350 {
		@media (max-width: 767px) {
			padding-top: 280px;
		}
	}

	&.contact-v3 {
		background-image: -moz-linear-gradient( 0deg, rgb(58,41,117) 0%, rgb(19,88,133) 100%);
		background-image: -webkit-linear-gradient( 0deg, rgb(58,41,117) 0%, rgb(19,88,133) 100%);
		background-image: -ms-linear-gradient( 0deg, rgb(58,41,117) 0%, rgb(19,88,133) 100%);
	}
	&.contact-v3 {
		form {
			.single-input {
				input, textarea {
					background-color: #223163 !important;
				}
			}
		}
	}
	.form-wrap {

		form {

			.single-input {
				margin-top: 30px;

				label {
					display: block;
					color: #fff;
					margin-bottom: 8px;

					@media (max-width: 767px) {
						display: none;
					}
				}

				input, textarea {
					width: 100%;
					height: 50px;
					border: none;
					color: $white;
					display: block;
					line-height: 50px;
					padding-left: 20px;
					border-radius: 5px;
					background-color: #311664;
					text-transform: capitalize;

					&::placeholder {
						color: #eee;
					}
				}

				textarea {
					min-height: 168px;
				}
			}

			button {
				padding: 20px 60px;
				letter-spacing: 1.6px;
				text-transform: uppercase;

				@media (max-width: 767px) {
					padding: 15px 40px;
					letter-spacing: 1px;
				}
			}
		}
	}
}

.contact-shape-wrap {

	.shape {
		
		&1 {
			left: 131px;
			bottom: 50%;
			animation: bounceUp 4s infinite linear;
		}

		&2 {
			left: 630px;
			top: 20%;
			animation: bounceUp 4s infinite linear;
		}

		&3 {
			left: 272px;
			bottom: 74px;
			animation: rotate3d 7s infinite linear;
		}

		&4 {
			left: 350px;
			animation: bounce 6s infinite linear;
		}

		&5 {
			left: 254px;
			bottom: 319px;
			animation: bounce 5s infinite linear;
			animation-delay: .5s;
		}

		&6 {
			left: 38%;
			bottom: 93px;
			animation: bounceUp 4s infinite linear;
		}

		&7 {
			left: 47px;
			bottom: 210px;
			animation: guraguri 7s infinite linear;
		}

		&8 {
			left: 101px;
			top: 240px;
			animation: rotate3d 7s infinite linear;
		}

		&9 {
			right: 131px;
			bottom: 50%;
			animation: bounceUp 4s infinite linear;
		}

		&10 {
			right: 630px;
			top: 20%;
			animation: bounceUp 4s infinite linear;
		}

		&11 {
			right: 272px;
			bottom: 74px;
			animation: rotate3d 7s infinite linear;
		}

		&12 {
			right: 350px;
			animation: bounce 6s infinite linear;
		}

		&13 {
			right: 254px;
			bottom: 319px;
			animation: bounce 5s infinite linear;
			animation-delay: .5s;
		}

		&14 {
			right: 38%;
			bottom: 93px;
			animation: bounceUp 4s infinite linear;
		}

		&15 {
			right: 47px;
			bottom: 210px;
			animation: guraguri 7s infinite linear;
		}

		&16 {
			right: 101px;
			top: 240px;
			animation: rotate3d 7s infinite linear;
		}
	}
}

form .f3 {
	border-radius: 4px;
}

#map iframe {
	margin-top: 30px;
	width: 100%;
	height: 270px;
	border: 0;
}

.get-contact {
	margin-top: 25px;
	display: block;

	@media (max-width: 991px) {
		margin-top: 50px;
	}


	.single-contact-info {
		margin-top: 30px;

		p {
			margin-top: -4px;
		}

		.contact-icon {
			float: left;
			font-size: 24px;
			overflow-y: hidden;
			margin-right: 20px;
		}

		.contact-info {
			overflow: auto;
		}
	}
}