/* ----------------------------------
	Content Block Section Styles
 ------------------------------------ */
.position {
	left: 0;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}
$color: #3131e9;

.content-block-wrap {
	&.pb-130 {
		@media (max-width: 991px) {
			padding-bottom: 100px;
		}
		@media (max-width: 767px) {
			padding-bottom: 80px;
		}
	}

	.content-block {
		&.pt-60 {
			@media (max-width: 991px) {
				padding-top: 0;
			}
		}

		margin-top: 40px;

		span {
			color: $color;
			font-size: 18px;
			line-height: 1;
			position: relative;
			text-transform: uppercase;
			padding-left: 70px;
			font-weight: 500;
			margin-bottom: 40px;
			display: inline-block;

			&::before {
				width: 60px;
				height: 4px;
				content: "";
				background: #000;
				@extend .position;
				background-image: -moz-linear-gradient( 0deg, rgb(54,21,231) 0%, rgb(116,189,255) 100%);
				background-image: -webkit-linear-gradient( 0deg, rgb(54,21,231) 0%, rgb(116,189,255) 100%);
				background-image: -ms-linear-gradient( 0deg, rgb(54,21,231) 0%, rgb(116,189,255) 100%);
			}
		}

		h2 {
			color: #29156b;
			font-size: 40px;
			line-height: 55px;
			text-transform: capitalize;
			margin-bottom: 20px;
			font-weight: 500;
			margin-top: -12px;

			@media (max-width: 500px) {
				font-size: 28px;
				line-height: 38px;
			}
		}

		p {
			margin-bottom: 20px;
		}

		ul {

			li {
				position: relative;
				padding-left: 30px;
				font-weight: 500;
				color: #6156ae;
				margin-top: 8px;
				display: block;
				transition: .4s;

				&::before {
					@extend .position;
					content: "\f00c";
					font-family:"Font Awesome 5 Pro";
					font-weight: 700;
					color: $color;
				}


				&:hover {transform: translateX(5px); cursor: pointer;}
			}
		}
	}

	.content-featured-img {
		margin-top: 40px;

		@media (max-width: 991px) {
			text-align: center;
		}
	}

	.features-promo {
		.single-fp {
			margin-top: 40px;
			.fp-icon {
				float: left;
				overflow: hidden;
				margin-right: 27px;
			}
			.fp-text {
				overflow: auto;

				h4 {
					margin-top: -5px;

					@media (max-width: 500px) {
						font-size: 18px;
					}
				}
				p {
					color: #555;
					margin-bottom: 0;
					@media (max-width: 500px) {
						font-size: 15px;
						line-height: 1.8
					}
				}
			}
		}
	}

	.flex-row-reverse {

	}
}