/* ----------------------------------
	Footer Section Styles
 ------------------------------------ */
.dib {
	color: $white;
	display: inline-block;
	@include transition(.3s);
}

footer {
	color: $white;
	padding: 100px 0px;
	background: #2f1976;

	@media (max-width: 991px) {
		padding: 80px 0px;
		&.footer-one {
			text-align: center;
		}
	}

	@media (max-width: 600px) {
		padding: 60px 0px;
		&.footer-one {
			text-align: center;
		}
	}

	.social-pages {
		margin-top: 15px;
		margin-right: -15px;

		a {
			width: 30px;
			height: 30px;
			@extend .dib;
			color: $white;
			font-size: 18px;
			line-height: 32px;
			margin-right: 10px;
			text-align: center;
			border-radius: 50%;
			border-radius: 50%;
			background-color: transparent;

			@media (max-width: 991px) {
				margin: 0px 5px;
			}

			&:hover {
				font-size: 15px;
				color: $theme-color;
				background-color: $white;
			}
		}
	}

	.footer-menu {

		@media (max-width: 991px) {
			text-align: center;
			margin-bottom: 30px;
			margin-top: 30px;

			ul {
				text-align: center;

				li {

					&:first-child {
						a {
							margin-left: 0px;
						}
					}
				}
			}
		}	

		ul {

			li {
				@extend .dib;

				a {
					@extend .dib;
					margin-left: 20px;
					
					&:hover {
						color: $theme-color;
					}					
				}
			}
		}
	}

	.terms-page-link {
		ul {

			li {
				@extend .dib;

				a {
					@extend .dib;
					margin-left: 20px;

					@media (max-width: 767px) {
						text-align: center;
					}

					&:hover {
						color: $theme-color;
					}					
				}
			}
		}
	}

	.payment-support {
		margin-top: 10px;
		li {
			@extend .dib;
			font-size: 18px;
			line-height: 1px;
			margin-left: 5px;

			&:hover {
				color: $theme-color;
			}			
		}
	}

	.footer-bottom {
		@media (max-width: 991px) {
			margin-top: 30px;
		}
	}

}

.single-footer-wid {

	@media (max-width: 991px) {
		margin-bottom: 30px;
	}

	.foo-wid-title {
		margin-bottom: 20px;

		h3 {
			color: $white;
		}
	}

	ul {
		li {
			a {
				color: $white;
				transition: .3s;
				margin-top: 5px;

				&:hover {
					color: $theme-color;
					padding-left: 4px;
				}
			}
		}
	}
}
.footer-logo {
	p {
		margin-top: 20px;
	}
}