/* ----------------------------------
	Header Section - Styles
 ------------------------------------ */
.defaultA {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
}

.header-defualt {
    width: 100%;
    z-index: 999;
    position: absolute;
}

header {

    &.transparent-menu {
        @extend .header-defualt;
        background-color: transparent;
        transform: translateY(50px);
    }
    
    &.bg-menu {
        @extend .header-defualt;
        transform: translateY(30px);

        .main-menu {

             .menu-1 {

                ul {

                    li {

                        a {
                            color: $second-color;
                            padding: 20px 0px;
                        }
                    }
                }
             }
        }

        .container {
            background-color: $white;
            border-radius: 35px;
        }
        
        @media ( max-width: 1191px ) {
            .account {
                a {
                    padding: 14px 25px;
                    font-size: 15px;
                }
            }
            .container{
                border-radius: 35px;
                padding: 0px 15px;
            }
        }

        @media ( max-width: 991px ) {
            
            .container{
                border-radius: 0;
                background-color: transparent;
            }
        }

    }

    .main-menu {

        .menu-1 {

            ul {

                li {
                    @extend .defaultA;

                    a {
                        color: $white;
                        padding: 8px 0px;
                        @extend .defaultA;
                        margin-left: 28px;
                        @include transition(.4s);

                        &:hover {
                            color: $theme-color;
                        }

                        @media (max-width: 1199px) {
                            margin-left: 16px;
                            font-size: 15px;
                        }
                    }


                   & .submenu {
                        opacity: 0;
                        left: 0px;
                        min-width: 200px;
                        background: $white;
                        padding: 10px 30px;
                        visibility: hidden;
                        position: absolute;
                        z-index: 999;
                        box-shadow: $box-shadow;
                        @include transition(.5s);
                        transform: translateY(30px);

                        li {
                            display: block;
                            a {
                                margin: 0;
                                display: block;
                                text-align: left;
                                padding: 8px 0px;
                                color: $theme-color;
                            }
                        }
                    }

                    &:hover {
                        a {
                            color: $theme-color;
                        }

                        & .submenu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0px);

                            li {
                                a {
                                    padding: 5px 0px;

                                    &:hover {
                                        color: $second-color;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}


header {
    transition: .3s;
    &.sticky {
        top: 0;
        width: 100%;
        position: fixed !important;
        padding: 15px 0px;
        background: $sticky-bg-1;
        animation: sticky .8s ease-in-out;
        transform: translateY(0);
        box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

        &.bg-menu {
            .main-menu .menu-1 > ul > li a {
                color: $white;
                padding: 15px 0px;
            }
            .main-menu .menu-1 > ul ul li a {
                color: $theme-color;
            }
        }
        .container {
            background-color: transparent;
        }

        .mean-container {
            .mean-bar {
                top: -7px;
                min-height: 0;
            }
        }

        @media (max-width: 767px) {
            position: relative;
        }
    }
}
