// Hero Section - Style One -  Home Page One 

.hero-wrapper {

	.single-hero-slide {
		width: 100%;
		min-height: 830px;
		padding-top: 195px;

		.slide-bg svg {
			width: 100%;
			min-height: 830px;
			@include before(-1);
		}

		.hero-content {

			h1 {
				color: $white;
			}

			p {
				color: $white;

				@media (max-width: 767px) {
					font-size: 15px;
				}
			}
		}
	}
	
	.hero-height {
		min-height: 928.35px;

		@media (max-width: 1199px) {
			min-height: 700px;
		}

		@media (max-width: 510px) {
			min-height: 600px;
		}
	}

	// Home Page 3 - Slider 

	.single-hero {
		overflow: hidden;
		position: relative;
		@extend .hero-height;

		.hero-bg {
			top: -5px;
			left: -5px;
			width: 100%;
			position: absolute;
			@extend .hero-height;

			@media (max-width: 1199px) {
				background-size: cover;
			}

			@media (max-width: 500px) {
				background-color: transparent;
			}

			@media (max-width: 1400px) {
				left: 0;
			}
		}

		.hero-contents {
			h2 {
				margin-bottom: 20px;
				display: inline-block;

				@media (max-width: 1199px) {
					font-size: 38px;
				}

				@media (max-width: 767px) {
				    font-size: 32px;
				    line-height: 1.5;
				}

				@media (max-width: 510px) {
				    font-size: 26px;
				    line-height: 1.5;
				}
			}

			p {
				@media (max-width: 767px) {
				    font-size: 14px;
				    line-height: 1.5;
				}	
			}
		}

		.hero-v3-img {
			@media (max-width: 1200px) {
				padding: 0px;
			}
		}

		.domain-search-box {

			.search-box-inner {

				form { 

					&.fullwidth {

						input {
							@media (max-width: 767px) {
								width: 51%;
							}
							@media (max-width: 500px) {
								width: 70%;
							}
						}
					}
				}
			}
		}

	}
}
.achievement-list {
	li {
		color: $white;
		margin-top: 30px;
		margin-right: 30px;
		display: inline-block;

		@media (max-width: 767px) {
			color: #FFF;
		    margin-top: 20px;
		    margin-right: 8px;
		    display: inline-block;
		    font-size: 14px;
		    line-height: 1.5;
		}

		&:last-child {
			margin-right: 0;
		}

		span {
			color: #90d78b;
			margin-right: 6px;

			i {


			}
		}
	}
}

.domain-search-box {

	.search-box-inner {

		form {
			height: 70px;
			width: 650px;
			margin: 0px auto;
			position: relative;
			border-radius: 35px;
			background-color: $white;
			box-shadow: 0px 0px 20px 0px rgba(20, 27, 201, 0.15);

			&.fullwidth {
				width: 100%;

				input {
					width: 58%;
				}
			}

			@media (max-width: 767px) {
				width: 100%;
			}

			input {
				width: 61%;
				float: left;
				height: 100%;
				line-height: 70px;
				padding-left: 30px;
				border-radius: 35px;
				@include transition(.3s);
				
				@media (max-width: 767px) {
					width: 50%;
				}

				@media (max-width: 500px) {
					width: 70%;
				}
			}

			select {
				border: none;
				padding-left: 5px;
				@include transition(.2s);
				background: transparent;
			}

			button {
				height: 50px;
				color: $white;
				line-height: 1;
				margin-top: 10px;
				padding: 0px 40px;
				border-radius: 30px;
				@include transition(.4s);
				background-image: -moz-linear-gradient( -45deg, rgb(251,0,83) 0%, rgb(248,90,41) 100%);
				background-image: -webkit-linear-gradient( -45deg, rgb(251,0,83) 0%, rgb(248,90,41) 100%);
				background-image: -ms-linear-gradient( -45deg, rgb(251,0,83) 0%, rgb(248,90,41) 100%);

				&:hover {
					@extend .gradientHover;
					color: $white;
				}

				@media (max-width: 500px) {
	   				width: 100%;
					display: inline-block;
	    			margin-top: 25px;
				}
			}					
		}
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-color: $theme-color transparent transparent transparent;
	}
	.select2-container--default .select2-selection--single {
		border: none;
		border-radius: 0;
		border-left: 1px solid #bab9ce;
	}
	.select2-container .select2-selection--single .select2-selection__rendered {
	    padding-left: 5px;
	    padding-right: 14px;
	}	
}



.hero-shape-wrap {
	.shape {
		opacity: .7;

		&1 {
			top: 288px;
			left: 473px;
			animation: guraguri 4s infinite linear;
		}

		&2 {
			left: 67px;
			bottom: 205px;
			animation: bounceUp 4s infinite linear;
		}

		&3 {
			opacity: .3;
			left: 429px;
			bottom: 268px;
			animation: guraguri 4s infinite linear;
		}

		&4 {
			left: 298px;
			bottom: 140px;
			animation: guraguri 4s infinite linear;
		}

		&5 {
			left: 50%;
			top: 160px;
			animation: guraguri 4s infinite linear;
		}

		&6 {
			top: 7px;
			right: 50px;
			animation: bounceUp 4s infinite linear;
		}

		&7 {
			right: 30px;
			bottom: 50%;
			animation: rotate3d 5s infinite linear;
		}

		&8 {
			top: 40%;
			right: 353px;
			animation-delay: .2s;
			animation: bounce 5s infinite linear ;
		}

		&9 {
			left: 67px;
			animation-delay: .3s;
			animation: bounce 5s infinite linear ;
		}

		&10 {
			right: 430px;
			bottom: 190px;
			animation-delay: .2s;
			animation: bounce 8s infinite linear ;
		}

		&11 {
			right: 50%;
			bottom: 170px;
			animation-delay: .1s;
			animation: bounce 5s infinite linear ;
		}
	}
}

.hero-slider-wrap {

	.single-slide {
		z-index: 1;
		height: 800px;
		overflow: hidden;
		padding-top: 248px;
		position: relative;
		padding-bottom: 160px;
		background-image: -moz-linear-gradient( -45deg, rgb(37,40,110) 0%, rgb(94,33,143) 100%);
		background-image: -webkit-linear-gradient( -45deg, rgb(37,40,110) 0%, rgb(94,33,143) 100%);
		background-image: -ms-linear-gradient( -45deg, rgb(37,40,110) 0%, rgb(94,33,143) 100%);

		@media (max-width: 991px) {
			height: auto;
			padding-top: 200px;
			padding-bottom: 120px;
		}

		@media (max-width: 500px) {
			height: auto;
			padding-top: 120px;
			padding-bottom: 80px;
		}

		&::before {
			z-index: -1;
			content: "";
			left: -45px;
			top: -135px;
			width: 638px;
			height: 200px;
			position: absolute;
			transform: rotate(-12deg);
			background-image: -moz-linear-gradient( -45deg, rgba(37,40,110,0) 0%, rgba(67,36,127,0.5) 52%, rgb(94,33,143) 100%);
			background-image: -webkit-linear-gradient( -45deg, rgba(37,40,110,0) 0%, rgba(67,36,127,0.5) 52%, rgb(94,33,143) 100%);
			background-image: -ms-linear-gradient( -45deg, rgba(37,40,110,0) 0%, rgba(67,36,127,0.5) 52%, rgb(94,33,143) 100%);
		}

		&::after {
			z-index: -1;
			content: "";
			bottom: 50px;
			width: 636px;
			height: 300px;
			right: -100px;
			opacity: 0.302;
			position: absolute;
			transform: rotate(-18deg);
			background-image: -moz-linear-gradient( -45deg, rgba(94,33,143,0) 0%, rgba(64,37,126,0.5) 52%, rgb(37,40,110) 100%);
			background-image: -webkit-linear-gradient( -45deg, rgba(94,33,143,0) 0%, rgba(64,37,126,0.5) 52%, rgb(37,40,110) 100%);
			background-image: -ms-linear-gradient( -45deg, rgba(94,33,143,0) 0%, rgba(64,37,126,0.5) 52%, rgb(37,40,110) 100%);

		}

		.single-slide-content {
			padding-right: 25px;

			@media (max-width: 1199px) {
				padding-right: 0;
			}

			span {
				line-height: 1;
				transition: .3s;
				font-size: 13px;
				padding: 10px 30px;
				border-radius: 30px;
				margin-bottom: 15px;
				display: inline-block;
				background-color: #4b4787;

				&:hover {
					background-color: $theme-color;
				}
			}

			h1 {
				font-size: 48px;
				line-height: 60px;
				margin-bottom: 20px;

				@media (max-width: 1199px) {
					font-size: 42px;
					line-height: 55px;
				}

				@media (max-width: 767px) {
					font-size: 36px;
					line-height: 50px;
				}

				@media (max-width: 480px) {
					font-size: 30px;
					line-height: 44px;
				}
			}

			p {
				padding-right: 90px;


				@media (max-width: 767px) {
					padding-right: 70px
				}

				@media (max-width: 500px) {
					padding-right: 30px
				}
			}

			a {
				height: 50px;
				font-size: 15px;
				font-weight: 500;
				margin-top: 30px;
				line-height: 50px;
				padding: 0px 40px;
				text-transform: uppercase;

				@media (max-width: 767px) {
					height: 40px;
					font-size: 14px;
					line-height: 40px;
					padding: 0px 30px;
				}
			}
		}

		.single-slide-img {
			margin-right: -85px;

			@media (max-width: 767px) {
				margin-right: 0;
				margin-top: 30px;
			}
		}	
	}

	.slick-dots {
	    top: 50%;
	    margin: 0;
	    padding: 0;
	    left: 20px;
	    width: 20px;
	    bottom: auto;
	    font-size: 16px;
	    list-style: none;
	    position: absolute;
	    text-align: center;
	    transform: translateY(-50%);
	    display: inline-block !important;

	    @media (max-width: 599px) {
	    	left: auto;
	    	right: auto;
	    	bottom: 10px;
	    	top: auto;
	    	width: 100%;

	    }

	    li {
	        margin: 0;
	        display: block;

	        	@media (max-width: 599px) {
			    	display: inline-block;
			    	margin: 0 4px;
			    }

	        button {
	            content: "";
	            width: 10px;
	            height: 10px;
	            line-height: 10px;
	            position: relative;
	            background: #8c65af;
	            border-radius: 30px;
	            display: inline-block;
	        }
	        

	        &.slick-active button {
				background-image: -moz-linear-gradient( -45deg, rgb(251,0,83) 0%, rgb(248,90,41) 100%);
				background-image: -webkit-linear-gradient( -45deg, rgb(251,0,83) 0%, rgb(248,90,41) 100%);
				background-image: -ms-linear-gradient( -45deg, rgb(251,0,83) 0%, rgb(248,90,41) 100%);
	        }

	        button::before {
	            display: none;
	        }
	    }

	}



}