.map-wrap {
	&.map-2 {
		background-color: #fff;
		.single-country {
			p {
				color: $second-color !important;
				font-weight: 600;
			}
		}
	}
	.map-bg {

		svg {
			position: absolute;
			top: 0;
			left: 0;			
			width: 100%;
			height: 100%;
		}
	}

	.server-country-list {
		div {
			position: absolute;
			top: 0;
		}

		.single-country {
		  p {
		    line-height: 1;
		    position: relative;
		    padding-left: 25px;

		    &::before {
		      width: 10px;
		      height: 10px;
		      border-radius: 50%;
		      position: absolute;
		      left: 0;
		      content: "";
		      background: #fff;
		      top: 50%;
		      transform: translateY(-50%);
		      animation: fadewave 2.4s infinite;
		      animation-delay: .1s !important;
		    }

		    &.right {
		    	padding-left: 0;
		    	padding-right: 25px;

		    	&::before {
		    		left: auto;
		    		right: 0;
		    		animation: fadewave2 2.5s infinite;
		    		animation-delay: .4s !important;
		    	}
		    }

		  }

		  &:nth-child(1) {
		    right: 214px;
		    top: 80px;
		  }

		  &:nth-child(2) {
		    right: 415px;
		    top: 100px;

		    p {
			    &::before {
			      animation: fadewave2 2.5s infinite;
			      animation-delay: .3s !important;
			    }		    	
		    }
		  }

		  &:nth-child(3) {
		    left: 10px;
		    top: 180px;
		  }

		  &:nth-child(4) {
		    left: 200px;
		    top: 160px;
		  }

		  &:nth-child(5) {
		    left: 55%;
		    top: 270px;

		    @media (max-width: 991px) {
		    	left: 50%;
		    	top: 140px;
		    }
		  }


		  &:nth-child(8) {
		    left: 55%;
		    top: auto;
		    bottom: 100px;
		  }


		  &:nth-child(7) {
		    left: 15%;
		    top: auto;
		    bottom: 200px;

		    @media (max-width: 991px) {
		    	bottom: 100px;
		    }
		  }

		  &:nth-child(6) {
		    right: 3%;
		    bottom: 220px;
		    top: auto;

		    p {
			    &::before {
			      animation: fadewave2 2.5s infinite;
			      animation-delay: .3s !important;
			    }		    	
		    }

		  }

		  &:nth-child(9) {
		    right: 6%;
		    bottom: 90px;
		    top: auto;
		  }
		}		
	}
}
