/* ----------------------------------
	Service Section Styles
 ------------------------------------ */
.services-wrap {
	&.service-three {
		background-image: -moz-linear-gradient( 130deg, rgb(58,41,117) 0%, rgb(19,88,133) 100%);
		background-image: -webkit-linear-gradient( 130deg, rgb(58,41,117) 0%, rgb(19,88,133) 100%);
		background-image: -ms-linear-gradient( 130deg, rgb(58,41,117) 0%, rgb(19,88,133) 100%);
	}
}
.single-service-box {
	margin-top: 40px;
	text-align: center;
	padding: 40px 30px;
	border-radius: 10px;
	@include transition(.4s);
	box-shadow: 0px 0px 25px 0px rgba(20, 27, 201, 0.17);
	background-color: rgb(255, 255, 255);


	@media (max-width: 767px) {
		padding: 35px 15px 30px;
	}

	&:hover {
		transform: translateY(-10px);
	}
	.service-icon {
		margin-bottom: 31px;
	}

	h4 {
		color: #31389e;
		text-transform: capitalize;
	}

	p {
		font-size: 15px;
		color: #101341;
		margin-top: 14px;
		line-height: 26px;
	}

}

.service-box-2 {
	margin-top: 75px;
	padding: 0px 60px;
	padding-bottom: 30px;
	min-height: 198px;
	text-align: center;
	border-radius: 10px;
	background-color: #fff;
	@include transition(.4s)
	box-shadow: 0px 0px 25px 0px rgba(20, 27, 201, 0.17);
	
	@media (max-width: 1199px) {
		padding: 0px 30px;
		padding-bottom: 30px;
	}

	@media (max-width: 767px) {
		padding: 0px 40px;
	}
	

	  &.servicev3 {
	  	background-color: #1f2856;

	  	h4, p {
			color: $white;
		}
	  }

	&:hover {
		background-image: -moz-linear-gradient( -45deg, rgb(251,0,84) 0%, rgb(245,91,42) 100%);
		background-image: -webkit-linear-gradient( -45deg, rgb(251,0,84) 0%, rgb(245,91,42) 100%);
		background-image: -ms-linear-gradient( -45deg, rgb(251,0,84) 0%, rgb(245,91,42) 100%);
		box-shadow: 0px 0px 25px 0px rgba(20, 27, 201, 0.05);
		cursor: pointer;

		h4, p {
			color: $white;
		}
	}

	.service-icon {
		margin-bottom: 0px;
		transform: translateY(-50%);
	}

	h4 {
		font-size: 20px;
		line-height: 1;
		font-weight: 500;
		color: #3c44a9;
		margin-top: -10px;
	}

	p {
		color: #61648e;
		line-height: 24px;
		margin-top: 20px;
	}

}
.service-two {
	.row {
		.col-12:nth-child(1) {
			.service-box-2 {

				&:hover {
					background-image: -moz-linear-gradient( -45deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
					background-image: -webkit-linear-gradient( -45deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
					background-image: -ms-linear-gradient( -45deg, rgb(52,181,191) 0%, rgb(33,12,89) 100%);
				}
			}
		}
		.col-12:nth-child(3) {
			.service-box-2 {

				&:hover {
					background-image: -moz-linear-gradient( -45deg, rgb(54,21,231) 0%, rgb(68,162,246) 100%);
					background-image: -webkit-linear-gradient( -45deg, rgb(54,21,231) 0%, rgb(68,162,246) 100%);
					background-image: -ms-linear-gradient( -45deg, rgb(54,21,231) 0%, rgb(68,162,246) 100%);
				}
			}
		}
		.col-12:nth-child(4) {
			.service-box-2 {

				&:hover {
					background-image: -moz-linear-gradient( -45deg, rgb(252,106,14) 0%, rgb(253,182,66) 100%);
					background-image: -webkit-linear-gradient( -45deg, rgb(252,106,14) 0%, rgb(253,182,66) 100%);
					background-image: -ms-linear-gradient( -45deg, rgb(252,106,14) 0%, rgb(253,182,66) 100%);
				}
			}
		}
		.col-12:nth-child(5) {
			.service-box-2 {

				&:hover {
					background-image: -webkit-linear-gradient( -45deg, rgb(141,64,251) 0%, rgb(90,87,251) 100%);
					background-image: -ms-linear-gradient( -45deg, rgb(141,64,251) 0%, rgb(90,87,251) 100%);
				}
			}
		}
		.col-12:nth-child(6) {
			.service-box-2 {

				&:hover {
					background-image: -moz-linear-gradient( -45deg, rgb(39,184,141) 0%, rgb(34,221,115) 100%);
					background-image: -webkit-linear-gradient( -45deg, rgb(39,184,141) 0%, rgb(34,221,115) 100%);
					background-image: -ms-linear-gradient( -45deg, rgb(39,184,141) 0%, rgb(34,221,115) 100%);
				}
			}
		}
	}
}