/* --------------------------------------------
    Template Defualt Fonts & Fonts Styles
 ---------------------------------------------- */

// font-family: 'Ubuntu', sans-serif;
// font-family: 'Roboto', sans-serif;

// Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900|Ubuntu:400,400i,500,500i,700,700i&display=swap');

// Font Family Variable with Value



$heading-font: 'Ubuntu', sans-serif;
$body-font: 'Roboto', sans-serif;


body {
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4d4d4d;
    background: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    margin: 0px;
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 48px;
    line-height: 1;
    &.fs-lg {
        font-size: 60px;
        line-height: 70px;

        @media (max-width: 767px) {
            font-size: 40px;
            line-height: 50px;
        }

        @media (max-width: 480px) {
            font-size: 32px;
            line-height: 44px;
        }
    }
}

h2 {
    font-size: 36px;
    line-height: 48px;
}
h3 {
    font-size: 24px;
    line-height: 36px;
}
h4 {
    font-size: 20px;
    line-height: 30px;
}
h5 {
    font-size: 18px;
    line-height: 30px;
}
h6 {
    font-size: 14px;
    line-height: 24px;
}
a {
    text-decoration: none;
    font-weight: 400;
    outline: none !important;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
}
p {
    margin: 0px;
}

