.why-us-wrap {
	background-image: -moz-linear-gradient( -90deg, rgb(8,13,107) 0%, rgb(8,125,219) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(8,13,107) 0%, rgb(8,125,219) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(8,13,107) 0%, rgb(8,125,219) 100%);
	
	@media (max-width: 1191px) {
		.sepcail-featured-img {
			padding-top: 25px;
		}
	}

	@media (max-width: 991px) {
		.sepcail-featured-img {
			text-align: center;
		}
		.row.mt-40 {
			margin-top: 0;
		}
	}


	
}

.special-fetaured-list {

	&.right-icon {
		.special-icon {
			float: right;
			margin-left: 20px;
		}
		text-align: right;

		@media (max-width: 991px) {
			.special-icon {
				float: left;
				margin-right: 20px;	
			}
			text-align: left;
		}
	}

	&.left-icon {
		.special-icon {
			float: left;
			margin-right: 20px;

			&::before {
				right: 0;
				left: auto;
			}
		}
		text-align: left;
	}

	.single-special-feature {
		margin-top: 60px;
		
		@media (max-width: 1191px) {
			margin-top: 30px;
		}

		@media (max-width: 991px) {
			.special-icon {

				&::before {
					display: none;
				}
			}
		}

		.special-icon {
			// overflow: hidden;
			border-style: solid;
			border-width: 1px;
			border-color: $white;
			border-radius: 50%;
			position: relative;
			background-image: -moz-linear-gradient( -45deg, rgb(251,0,84) 0%, rgb(245,91,42) 100%);
			background-image: -webkit-linear-gradient( -45deg, rgb(251,0,84) 0%, rgb(245,91,42) 100%);
			background-image: -ms-linear-gradient( -45deg, rgb(251,0,84) 0%, rgb(245,91,42) 100%);
			box-shadow: 0px 0px 25px 0px rgba(20, 27, 201, 0.05);
			width: 48px;
			height: 48px;
			line-height: 48px;
			text-align: center;

			&::before {
				position: absolute;
				width: 180px;
				height: 1px;
				z-index: -1;
				content: "";
				background: #fff;
				top: 50%;
				transform: translateY(-50%);
			}

			&.s2 {
			  background-image: -moz-linear-gradient( -45deg, rgb(39,184,141) 0%, rgb(34,221,115) 100%);
			  background-image: -webkit-linear-gradient( -45deg, rgb(39,184,141) 0%, rgb(34,221,115) 100%);
			  background-image: -ms-linear-gradient( -45deg, rgb(39,184,141) 0%, rgb(34,221,115) 100%);
			}
			&.s3 {
			  background-image: -moz-linear-gradient( -45deg, rgb(103,0,231) 0%, rgb(250,99,123) 100%);
				background-image: -webkit-linear-gradient( -45deg, rgb(103,0,231) 0%, rgb(250,99,123) 100%);
				background-image: -ms-linear-gradient( -45deg, rgb(103,0,231) 0%, rgb(250,99,123) 100%);
			}
			&.s4 {
			  background-image: -moz-linear-gradient( -45deg, rgb(252,106,14) 0%, rgb(253,182,66) 100%);
				background-image: -webkit-linear-gradient( -45deg, rgb(252,106,14) 0%, rgb(253,182,66) 100%);
				background-image: -ms-linear-gradient( -45deg, rgb(252,106,14) 0%, rgb(253,182,66) 100%);
			}
			&.s5 {
			    background-image: -moz-linear-gradient( -45deg, rgb(160,42,175) 0%, rgb(68,22,135) 100%);
				background-image: -webkit-linear-gradient( -45deg, rgb(160,42,175) 0%, rgb(68,22,135) 100%);
				background-image: -ms-linear-gradient( -45deg, rgb(160,42,175) 0%, rgb(68,22,135) 100%);
			}
			&.s6 {
			  background-image: -moz-linear-gradient( -45deg, rgb(141,64,251) 0%, rgb(90,87,251) 100%);
				background-image: -webkit-linear-gradient( -45deg, rgb(141,64,251) 0%, rgb(90,87,251) 100%);
				background-image: -ms-linear-gradient( -45deg, rgb(141,64,251) 0%, rgb(90,87,251) 100%);
			}
		}

		.sf-text {
			overflow: auto;
			transition: .3s;

			p {
				font-size: 15px;
				line-height: 26px;
				margin-top: 15px;

				@media (max-width: 1191px) {
					margin-top: 5px;
					font-size: 14px;
				}
			}

			span {
				font-weight: 500;
				font-size: 24px;
				line-height: 26px;
				letter-spacing: 1.1px;
				text-transform: uppercase;

				@media (max-width: 1191px) {
					font-size: 20px;
				}
			}

		}
	}
}